/**************************/
/* GENERAL  SETTING */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
  line-height: 1;
}
/**************************/
/* STYLES */
/**************************/
.card-section {
  background-color: hsl(212, 45%, 89%);
}
.container {
  max-width: 144rem;
  height: 100vh;
  /* margin: 0 auto; */
  /* padding: 3rem auto; */
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: 1rem;
  border-radius: 11px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.qr {
  width: 18rem;
  border-radius: 11px;
  padding-bottom: 1.8rem;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  color: hsl(218, 44%, 22%);
  padding: 0 0.4rem;
}

.card-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: hsla(219, 15%, 55%, 0.637);
  margin-bottom: 1.8rem;
  padding: 0 0.4rem;
  margin: ;
}

/**************************/
/* GENERAL  COMPONENT STYLES */
/**************************/
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
font-family: 'Outfit', sans-serif; 400 700

- Body 
- Font size (paragraph): 15px

- Font weights
Default: 400
Medium: 
Semi-bold: 
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

### Accent
-none

### Neutral
none

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/ ;
